<div class="profile-container">
  <ng-container
    *ngIf="userContent && canDisplayCurrentUserProfile(); then displayCurrentUserProfile; else displayOtherUserProfile"></ng-container>
</div>


<ng-template #displayCurrentUserProfile>
  <div class="user-information">
    <nb-card [nbSpinner]="isFetching$ | async"
             nbSpinnerStatus="primary"
             nbSpinnerSize="medium">
      <nb-card-header>
        <h4>Your profile information</h4>
      </nb-card-header>
      <nb-card-body *ngIf="userContent">
        <div class="user-reviews-summary" *ngIf="userSummaryReviews$ | async as userSummary">
          <stars-rating [rating]="userSummary.avgRating" [reviewCount]="userSummary.reviewCount" [enableClickEvent]="false" tooltipMessage=""></stars-rating>
        </div>
        <div class="user-reviews-summary" *ngIf="!(userSummaryReviews$ | async)">
          <h6> No reviews yet </h6>
        </div>
        <div class="form-fields">
          <nb-user picture='https://images.nightcafe.studio//assets/profile.png?tr=w-1600,c-at_max' size="giant"
                   onlyPicture>
          </nb-user>
          <nb-form-field>
            <input [(ngModel)]="userContent.email" name="email" type="email" nbInput shape="round" placeholder="Email"
                   (input)="onInputType($event)" [class.invalid-field]="!isEmailValid"
                   nbTooltip="The email is not valid. It needs to contain '@','.'"
                   [nbTooltipDisabled]="isEmailValid"
                   nbTooltipPlacement="bottom"
                   (nbTooltipShowStateChange)="!isEmailValid ? showTooltipForInputs() : hideTooltipForInputs()"
                   #tooltipEmail="nbTooltip"
                   required email>
          </nb-form-field>
          <nb-form-field>
            <input [(ngModel)]="userContent.phoneNumber" name="phoneNumber" type="text" nbInput shape="round"
                   placeholder="Phone number"
                   (input)="onInputType($event)" [class.invalid-field]="!isPhoneNumberValid"
                   nbTooltip="The phone number is not valid. It needs to contain '+' and only numbers"
                   [nbTooltipDisabled]="isPhoneNumberValid"
                   nbTooltipPlacement="bottom"
                   (nbTooltipShowStateChange)="!isPhoneNumberValid ? showTooltipForInputs() : hideTooltipForInputs()"
                   #tooltipPhoneNumber="nbTooltip"
                   required email>
          </nb-form-field>
          <nb-form-field>
            <input [(ngModel)]="userContent.firstName" name="firstName" type="text" nbInput shape="round"
                   placeholder="First name" (input)="onInputType($event)"
                   required>
          </nb-form-field>
          <nb-form-field>
            <input [(ngModel)]="userContent.lastName" name="lastName" type="text" nbInput shape="round"
                   placeholder="Last name"
                   required>
          </nb-form-field>
          <nb-form-field>
            <input [(ngModel)]="userContent.location" name="location" type="text" nbInput shape="round"
                   placeholder="Location"
                   (input)="onInputType($event)"
                   required>
          </nb-form-field>
          <nb-form-field>
            <input [(ngModel)]="userContent.password" name="password" [type]="getInputType()" nbInput shape="round"
                   (input)="onInputType($event)" [class.invalid-field]="!isPasswordValid"
                   [nbTooltip]="'The password is not valid.\n The passwords do not match.\n It needs to contain at least 8 characters, one uppercase character, numbers and special characters.'"
                   [nbTooltipDisabled]="isPasswordValid"
                   nbTooltipPlacement="top"
                   (nbTooltipShowStateChange)="!isPasswordValid ? showTooltipForInputs() : hideTooltipForInputs()"
                   #tooltipPassword="nbTooltip"
                   placeholder="Password" required>
            <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
              <nb-icon class="show-password-button" [icon]="showPassword ? ICONS.EYE_OUTLINE : ICONS.EYE_OFF_OUTLINE"
                       pack="eva"
                       [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
              </nb-icon>
            </button>
          </nb-form-field>
          <nb-form-field *ngIf="showRepeatPasswordForm">
            <input [(ngModel)]="userContent.repeatPassword" name="repeatPassword" [type]="getInputType()"
                   (input)="onInputType($event)" nbInput
                   shape="round"
                   placeholder="Repeat password" required>
            <button class="show-password-button" nbSuffix nbButton ghost (click)="toggleShowPassword()">
              <nb-icon [icon]="showPassword ? ICONS.EYE_OUTLINE : ICONS.EYE_OFF_OUTLINE" pack="eva"
                       [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
              </nb-icon>
            </button>
          </nb-form-field>
          <button class="submit-button" [disabled]="isButtonDisabled()" nbButton hero
                  shape="semi-round"
                  status="primary"
                  (click)="onFormSubmit()" type="submit">Update
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="user-products-and-reviews" *ngIf="userContent">
    <nb-card>
      <nb-card-body>
        <nb-tabset (changeTab)="onTabChanged($event)">
          <nb-tab [tabId]="UsersInformationTabs.PRODUCTS" [tabTitle]="UsersInformationTabs.PRODUCTS">
            <app-my-products></app-my-products>
          </nb-tab>
          <nb-tab [tabId]="UsersInformationTabs.REVIEWS" [tabTitle]="UsersInformationTabs.REVIEWS">
            <nb-card class="user-reviews">
              <nb-card-header>
                <h4> Your reviews </h4>
              </nb-card-header>
              <nb-card-body>
                <nb-list *ngIf="(userReviews$ | async) as reviews" class="review-container">
                  <nb-list-item *ngFor="let review of reviews">
                    <div class="reviewer-information">
                      <nb-user picture='https://images.nightcafe.studio//assets/profile.png?tr=w-1600,c-at_max'
                               size="medium"
                               onlyPicture>
                      </nb-user>
                      <p> {{review.userDTO.firstName}} {{review.userDTO.lastName}}</p>
                    </div>
                    <div class="review-rating-information">
                      <stars-rating [rating]="review.review.rating"
                                    [enableClickEvent]="false" tooltipMessage=""></stars-rating>
                    </div>
                    <div class="review-description">
                      <p><span> Description:</span> {{ review.review.message }}</p>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card-body>
            </nb-card>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>

<ng-template #displayOtherUserProfile>
  <div class="user-information">
    <nb-spinner *ngIf="isFetching$ | async"
                status="primary"
                size="medium">
    </nb-spinner>
    <div *ngIf="!(isFetching$ | async) && !(userContent$ | async)">
      <p> This user does not exist </p>
    </div>
    <nb-card *ngIf="!(isFetching$ | async) && userContent$ | async">
      <nb-card-header>
        <h4> {{userContent.firstName }} {{ userContent.lastName }} information</h4>
        <button
          class="report-badge"
          [disabled]="isReportButtonDisabled()"
          [nbTooltipDisabled]="showTooltipForReportButton() === ''"
          [nbTooltip]="showTooltipForReportButton()"
          [nbTooltipIcon]="ICONS.ALERT_CIRCLE_OUTLINE" nbTooltipStatus="danger"
          status="danger"
          nbButton
          (click)="openReportDialog()">Report
        </button>
      </nb-card-header>
      <nb-card-body *ngIf="userContent">
        <div class="user-information">
          <div class="user-reviews-summary" *ngIf="userSummaryReviews$ | async as userSummary">
            <stars-rating [rating]="userSummary.avgRating" [reviewCount]="userSummary.reviewCount" [enableClickEvent]="false" tooltipMessage=""></stars-rating>
          </div>
          <div class="user-reviews-summary" *ngIf="!(userSummaryReviews$ | async)">
            <h6> No reviews yet </h6>
          </div>
          <nb-user picture='https://images.nightcafe.studio//assets/profile.png?tr=w-1600,c-at_max' size="giant"
                   onlyPicture>
          </nb-user>
          <div class="user-info">
            <div><h6><span>Name</span> {{ userContent.firstName }} {{ userContent.lastName }}</h6></div>
            <div><h6><span>City:</span> {{ userContent.location }}</h6></div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="user-products-and-reviews" *ngIf="userContent">
    <nb-card [nbSpinner]="isFetching$ | async" nbSpinnerStatus="primary" nbSpinnerSize="medium">
      <nb-card-body>
        <nb-tabset (changeTab)="onTabChanged($event)">
          <nb-tab [tabId]="UsersInformationTabs.PRODUCTS" [tabTitle]="UsersInformationTabs.PRODUCTS">
            <nb-card>
              <nb-card-header>
                <h4> {{userContent.firstName }} {{ userContent.lastName }} products</h4>
              </nb-card-header>
              <nb-card-body>
                <div class="product-grid" [class]="getProductGridClass(userProducts$ | async)">
                  <product *ngFor="let product of userProducts$ | async" [product]="product"></product>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-tab>
          <nb-tab [tabId]="UsersInformationTabs.REVIEWS" [tabTitle]="UsersInformationTabs.REVIEWS">
            <nb-card class="user-reviews" [nbSpinner]="isFetching$ | async" nbSpinnerSize="medium" nbSpinnerStatus="primary">
              <nb-card-header>
                <h4> {{userContent.firstName }} {{ userContent.lastName }} reviews </h4>
                <button [disabled]="!this.userService.isLoggedIn()" id="addReviewButton" nbButton status="warning" hero
                        nbTooltip="You need to be logged in to add a review"
                        [nbTooltipDisabled]="this.userService.isLoggedIn()"
                        (click)="openAddReviewDialog()"
                >
                  Add review
                </button>
              </nb-card-header>
              <nb-card-body>
                <nb-list *ngIf="(userReviews$ | async) as reviews" class="review-container">
                  <nb-list-item *ngFor="let review of reviews">
                    <div class="reviewer-information">
                      <nb-user picture='https://images.nightcafe.studio//assets/profile.png?tr=w-1600,c-at_max'
                               size="medium"
                               onlyPicture>
                      </nb-user>
                      <p> {{review.userDTO.firstName}} {{review.userDTO.lastName}}</p>
                    </div>
                    <div class="review-rating-information">
                      <stars-rating [rating]="review.review.rating" [showTooltip]="false"
                                    [enableClickEvent]="false"></stars-rating>
                    </div>
                    <div class="review-description">
                      <p><span> Description:</span> {{ review.review.message }}</p>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card-body>
              <nb-card-footer>
                <button [disabled]="endOfListReviews$ | async" nbButton status="primary"
                        [nbTooltip]="(endOfListReviews$ | async) ? 'No more reviews to load' : 'Load more reviews'"
                        (click)="loadNextReviews()">
                  <nb-icon [icon]="ICONS.ARROW_IOS_DOWNWARD_OUTLINE" pack="eva"></nb-icon>
                </button>
              </nb-card-footer>
            </nb-card>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>

<ng-template #locationChooser let-data>
  <div class="location-chooser">
    <map-picker [location]="data.location" buttonTitle="Save location"
                (buttonEvent)="onSaveLocation($event)"></map-picker>
  </div>
</ng-template>

<ng-template #reportDialog>
  <nb-card *ngIf="!(isUserReportAdded$ | async)" class="report-dialog-container"
           [nbSpinner]="isFetchingReport$ | async" nbSpinnerStatus="primary" nbSpinnerSize="medium">
    <nb-card-header>
      <p>Why do you want to report this <span class="bold"> user </span>?</p>
    </nb-card-header>
    <nb-card-body>
      <nb-form-field class="description">
                <textarea [(ngModel)]="reportToAdd.userReport.message" name="message" type="text" fullWidth nbInput
                          shape="round" placeholder="Reporting user message"></textarea>
        <span class="remaining-characters">{{getCharactersReportMessage()}}</span>
      </nb-form-field>
    </nb-card-body>
    <nb-card-footer>
      <button [disabled]="isOnSubmitButtonDisabled(SubmitButtonType.REPORT)" nbButton status="danger"
              hero (click)="onSubmitReportButtonClicked(SubmitButtonType.REPORT)">
        Submit
      </button>
    </nb-card-footer>
  </nb-card>
  <nb-card *ngIf="isUserReportAdded$ | async" class="report-dialog-container">
    <nb-card-header>
      <p>Thank you for reporting this <span class="bold"> user</span>!</p>
    </nb-card-header>
    <nb-card-body>
      <nb-icon [icon]="ICONS.CHECKMARK_CIRCLE_OUTLINE" pack="eva" status="success" style="font-size: 5rem"></nb-icon>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="success" hero (click)="closeReportDialog()">
        Close
      </button>
      <button nbButton status="danger" hero (click)="resetReport()">
        Add new report
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #addRatingDialog>
  <nb-card class="add-rating-dialog-container">
    <nb-card-header class="add-rating-dialog-header">
      Add rating
    </nb-card-header>
    <nb-card-body class="add-rating-dialog-body">
      <div>
        <p> How would you like to rate this product? </p>
      </div>
      <div>
        <stars-rating [showTooltip]="false" [rating]="reviewToAdd.rating"
                      (clickOnStarEvent)="onAddingReviewClickOnStar($event)"></stars-rating>
      </div>
      <div *ngIf="reviewToAdd.rating > 0">
        <p> You have chosen rating <span>{{ reviewToAdd.rating }} </span></p>
      </div>
      <div>
        <nb-form-field class="description">
                <textarea [(ngModel)]="reviewToAdd.message" name="message" type="text" fullWidth nbInput
                          shape="round" placeholder="Message"></textarea>
        </nb-form-field>
      </div>
    </nb-card-body>
    <nb-card-footer class="add-rating-dialog-footer">
      <button [disabled]="isOnSubmitButtonDisabled(SubmitButtonType.ADD_REVIEW)" nbButton status="warning" hero
              (click)="onSubmitReportButtonClicked(SubmitButtonType.ADD_REVIEW)">
        Submit
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
