.profile-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.user-information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;

  .user-reviews-summary {
    align-items: center;
    gap: 1rem;

    h6 {
      font-weight: normal;
      margin: 0;
    }
  }

  nb-user {
    margin-bottom: 1rem;
    justify-content: center;
  }

  nb-card-header {
    justify-content: space-between;
    display: flex;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h6 {
    font-weight: normal;
    margin: 0;
  }

  span {
    font-weight: bold;
  }
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  nb-form-field {
    width: 100%;
    max-width: 300px;
    margin-bottom: 23px;

    .invalid-field {
      border-color: var(--color-danger-500);
    }
  }

  .submit-button {
    width: 100%;
    max-width: 300px;
    margin-bottom: 23px;
  }

  nb-user {
    margin-bottom: 1rem;
    justify-content: center;
  }
}

.product-grid {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  product {
    min-width: 250px;
  }
}

.user-products-and-reviews {
  flex-grow: 1;

  nb-card {
    max-height: 80vh;
  }
}

.report-dialog-container {
  nb-card-header {
    align-self: center;
  }

  nb-card-body {
    display: table-column;
    text-align: center;
  }

  nb-card-footer {
    display: flex;
    gap: 1rem;
    align-self: center;
  }
}

.user-reviews {
  nb-card-header {
    display: inline-flex;
    justify-content: space-between;
  }
}

.review-container {
  height: 25rem;

  nb-list-item {
    display: table-column;

    .reviewer-information {
      display: flex;
    }

    .review-rating-information {
      display: flex;
    }

    .review-description {
      display: flex;

      p {
        span {
          font-weight: bold;
        }
      }
    }
  }
}

.add-rating-dialog-container {
  .add-rating-dialog-header {

  }

  .add-rating-dialog-body {
    display: table-column;
    text-align: center;

    div {
      margin-bottom: 1rem;

      p span {
        font-weight: bold;
      }
    }
  }

  .add-rating-dialog-footer {
    display: flex;
    align-self: center;
  }
}
