<nb-card class="inquiries-content">
  <nb-card-body class="inquiries-content-body">
    <nb-tabset (changeTab)="onTabChanged($event)">
      <nb-tab [tabId]="InquiriesTabs.RECEIVED" tabTitle="Received inquiries">
        <nb-card class="inquiries-tab-card-content">
          <nb-card-body [nbSpinner]="isFetching$ | async" nbSpinnerSize="medium" nbSpinnerStatus="primary">
            <p *ngIf="!(receivedInquiries$ | async)"> No inquiries received</p>
            <nb-list *ngIf="receivedInquiries$ | async as receivedInquiries">
              <nb-list-item *ngFor="let receivedInquiry of receivedInquiries">
                <nb-accordion>
                  <nb-accordion-item>
                    <nb-accordion-item-header>
                      <div class="received-inquiry-user">
                        <p>{{ receivedInquiry.senderEmail }}</p>
                        <p>{{ receivedInquiry.senderPhoneNumber }}</p>
                      </div>

                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                      <div classs="receive-inquiry-content">
                        <div class="viewed">
                          <p>{{ receivedInquiry.viewed }} <span *ngIf="receivedInquiry.viewed"> at {{ receivedInquiry.viewedAt | date }}</span></p>
                        </div>
                        <div class="dates">
                          <p>{{ receivedInquiry.rentStart | date}}</p>
                          <p>{{ receivedInquiry.rentEnd | date}}</p>
                        </div>
                        <div class="message">
                          <p>{{ receivedInquiry.message }}</p>
                        </div>
                      </div>
                    </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab [tabId]="InquiriesTabs.SENT" tabTitle="Sent inquiries">
        <nb-card class="inquiries-tab-card-content">
          <nb-card-body [nbSpinner]="isFetching$ | async" nbSpinnerSize="medium" nbSpinnerStatus="primary">
            <nb-list *ngIf="sentInquiries$ | async as sentInquiries">
              <nb-list-item *ngFor="let sentInquiry of sentInquiries">
                <nb-accordion>
                  <nb-accordion-item>
                    <nb-accordion-item-header>
                      <div class="received-inquiry-user">
                        <p>{{ sentInquiry.senderEmail }}</p>
                        <p>{{ sentInquiry.senderPhoneNumber }}</p>
                      </div>

                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                      <div classs="receive-inquiry-content">
                        <div class="viewed">
                          <p>{{ sentInquiry.viewed }} <span *ngIf="sentInquiry.viewed"> at {{ sentInquiry.viewedAt | date }}</span></p>
                        </div>
                        <div class="dates">
                          <p>{{ sentInquiry.rentStart | date}}</p>
                          <p>{{ sentInquiry.rentEnd | date}}</p>
                        </div>
                        <div class="message">
                          <p>{{ sentInquiry.message }}</p>
                        </div>
                      </div>
                    </nb-accordion-item-body>
                  </nb-accordion-item>
                </nb-accordion>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
