<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentit.dao.interfaces.IImageMapper">
    <resultMap id="ImageResultMap" type="Image">
        <result property="id" column="image_id"/>
        <result property="imageUrl" column="image_url"/>
    </resultMap>

    <select id="getImagesByProductId" resultMap="ImageResultMap">
        SELECT *
        FROM image
        WHERE product_id = #{product_id}
    </select>
</mapper>