<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.rentit.model"/>
        <package name="com.rentit.model.dto"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/ProductMapper.xml"/>
        <mapper resource="mappers/ImageMapper.xml"/>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/ReviewMapper.xml"/>
        <mapper resource="mappers/ReportMapper.xml"/>
        <mapper resource="mappers/InquiryMapper.xml"/>
    </mappers>
</configuration>