<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentit.dao.interfaces.IReviewMapper">
    <resultMap id="ProductReviewResultMap" type="Review">
        <result property="targetId" column="product_id"/>
        <result property="rating" column="rating"/>
        <result property="message" column="message"/>
    </resultMap>
    <resultMap id="UserReviewResultMap" type="Review">
        <result property="targetId" column="user_id"/>
        <result property="rating" column="rating"/>
        <result property="message" column="message"/>
    </resultMap>

    <select id="getNProductReviewsByPage" resultMap="ProductReviewResultMap">
        SELECT *
        FROM products_review
        WHERE product_id = #{productId}
        LIMIT ${(pageNum - 1) * n}, #{n};
    </select>
    <select id="getNUserReviewsByPage" resultMap="UserReviewResultMap">
        SELECT *
        FROM users_review
        WHERE user_id = #{userId}
            LIMIT ${(pageNum - 1) * n}, #{n};
    </select>
    <select id="getProductReviewSummary">
        SELECT AVG(rating)
        FROM products_review
        WHERE product_id = #{productId};
    </select>
    <select id="getUserReviewSummary">
        SELECT AVG(rating)
        FROM users_review
        WHERE user_id = #{userId};
    </select>
    <insert id="addProductReview" parameterType="Review">
        INSERT INTO products_review(product_id, rating, message)
        VALUES (#{targetId}, #{rating}, #{message});
    </insert>
    <insert id="addUserReview" parameterType="Review">
        INSERT INTO users_review(user_id, rating, message)
        VALUES (#{targetId}, #{rating}, #{message});
    </insert>

</mapper>