<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentit.dao.interfaces.IReviewMapper">
    <resultMap id="ProductReviewResultMap" type="Review">
        <result property="targetId" column="product_id"/>
        <result property="rating" column="rating"/>
        <result property="message" column="message"/>
    </resultMap>
    <resultMap id="UserReviewResultMap" type="Review">
        <result property="targetId" column="user_id"/>
        <result property="rating" column="rating"/>
        <result property="message" column="message"/>
    </resultMap>
    <resultMap id="ReviewSummaryResultMap" type="ReviewSummary">
        <result property="reviewCount" column="review_count"/>
        <result property="avgRating" column="avg_rating"/>
    </resultMap>
    <resultMap id="ProductReviewDTOResultMap" type="ReviewDTO">
        <association property="review" resultMap="ProductReviewResultMap"/>
        <association property="userDTO" column="reviewer_id"
            select="com.rentit.dao.interfaces.IUserMapper.getUserDTOById"/>
    </resultMap>
    <resultMap id="UserReviewDTOResultMap" type="ReviewDTO">
        <association property="review" resultMap="UserReviewResultMap"/>
        <association property="userDTO" column="reviewer_id"
                     select="com.rentit.dao.interfaces.IUserMapper.getUserDTOById"/>
    </resultMap>

    <select id="getNProductReviewsByPage" resultMap="ProductReviewDTOResultMap">
        SELECT *
        FROM products_review
        WHERE product_id = #{productId}
        LIMIT ${(pageNum - 1) * n}, #{n};
    </select>
    <select id="getNUserReviewsByPage" resultMap="UserReviewDTOResultMap">
        SELECT *
        FROM users_review
        WHERE user_id = #{userId}
            LIMIT ${(pageNum - 1) * n}, #{n};
    </select>
    <select id="getProductReviewSummary" resultMap="ReviewSummaryResultMap">
        SELECT AVG(rating) as avg_rating, COUNT(product_id) as review_count
        FROM products_review
        WHERE product_id = #{productId};
    </select>
    <select id="getUserReviewSummary" resultMap="ReviewSummaryResultMap">
        SELECT AVG(rating) as avg_rating, COUNT(user_id) as review_count
        FROM users_review
        WHERE user_id = #{userId};
    </select>
    <insert id="addProductReview" parameterType="Review">
        INSERT INTO products_review(product_id, rating, message, reviewer_id)
        VALUES (#{review.targetId}, #{review.rating}, #{review.message}, #{reviewerId});
    </insert>
    <insert id="addUserReview" parameterType="Review">
        INSERT INTO users_review(user_id, rating, message, reviewer_id)
        VALUES (#{review.targetId}, #{review.rating}, #{review.message}, #{reviewerId});
    </insert>

</mapper>