<nb-card [id]="product.productId" [size]="getCardBySize()">
  <nb-card-header>
    <div class="header-image">
      <img class="product-image" src="assets/placeholder_for_image.png" alt="Product's image">
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="seller-info">
      <img src="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG" alt="Seller profile picture">
    </div>
    <div class="product-prices" *ngIf="product.dayPrice">
      <p>{{product.dayPrice}}€ / day </p>
    </div>

    <div class="product-details">
      <div class="first-row">
        <p class="product-min-lease">
          Minimum lease period <b>{{product.minLeasePeriod}} days</b>
        </p>
        <p class="product-location">
          <nb-icon
            [icon]="ICONS.MAP_OUTLINE"></nb-icon>
          {{product.city}}
        </p>
      </div>
      <div class="second-row">
        <p class="product-name"> {{product.name}}</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
