.fof-container {
  display: flex;
  justify-content: center;

  nb-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: center;

    nb-card-header {

      img {
        width: 40vh;
        height: 40vh;
      }
    }
  }

}
