<nb-card class="my-products-container" [nbSpinner]="isFetching$ | async" nbSpinnerSize="large"
         nbSpinnerStatus="primary">
  <nb-card-header>
    <h4> Here are your products </h4>
    <div class="my-products-header-buttons">
      <button [disabled]="productsSelected.length < 1" class="perform-action-button"
              *ngIf="actionSelected.isButtonEnabled" size="medium"
              [status]="actionSelected.status" (click)="openActionDialog()" nbButton hero>
        <nb-icon [icon]="actionSelected.icon"/>
        <span *ngIf="getWindowSize().width > 768">Perform action</span>
      </button>
      <nb-select class="selector-actions" size='medium' fullWidth [(selected)]="actionSelected.action"
                 (selectedChange)="onSelectActionChanged($event)" placeholder="Select action">
        <nb-option-group title="Actions" [disabled]="!this.userService.isLoggedIn()">
          <nb-option [disabled]="actionSelected.action === ActionsConstants.REMOVE"
                     [value]="ActionsConstants.REMOVE"> {{ ActionsConstants.REMOVE }}</nb-option>
          <nb-option [disabled]="actionSelected.action === ActionsConstants.STATUS"
                     [value]="ActionsConstants.STATUS"> {{ ActionsConstants.STATUS }}</nb-option>
          <nb-option [disabled]="actionSelected.action === ActionsConstants.EDIT"
                     [value]="ActionsConstants.EDIT"> {{ ActionsConstants.EDIT }}</nb-option>
          <nb-option *ngIf="actionSelected.isButtonEnabled"
                     [disabled]="productsSelected.length > 0"
                     [value]="ActionsConstants.NOT_SELECTED">{{ ActionsConstants.NOT_SELECTED }}</nb-option>
        </nb-option-group>
      </nb-select>
    </div>
  </nb-card-header>
  <nb-card-body *ngIf="(products$ | async) as products">
    <div class="product-grid" *ngIf="products.length > 0" [class]="getProductGridClass()">
      <product *ngFor="let product of products" [product]="product"
               [canPerformSelectProductAction]="actionSelected.isButtonEnabled"
               (selectProduct)="onSelectProduct($event)"></product>
    </div>
    <div class="products-not-found" *ngIf="products.length < 1">
      You do not have any products yet.
    </div>
  </nb-card-body>
</nb-card>

<ng-template #dialogAction let-data>
  <nb-card class="dialog-action-container">
    <nb-card-header>
      <h3> {{ data.title }}</h3>
    </nb-card-header>
    <nb-card-body>
      <p> {{ data.bodyText}} </p>
      <div class="dialog-action-body">
        <div class="dialog-action-change-status" *ngIf="data.action === ActionsConstants.STATUS">
          <div class="product-status-change" *ngFor="let productSelected of productsSelected">
            <div class="product-status-change-title">
              <p> Product <span>{{ productSelected.product.name }}</span></p>
              <nb-tag-list>
                <nb-tag [status]="action.isStatusListSelected ? data.status : 'basic'"
                        (click)="changeStatus(productSelected.product, action.productStatus)"
                        [appearance]="action.isStatusListSelected ? 'filled' : 'outline'"
                        *ngFor="let action of productSelected.statusSelectedList"
                        [text]="action.productStatus">{{ action }}</nb-tag>
              </nb-tag-list>
            </div>
            <div class="product-add-rented-until" *ngIf="isRentedStatusSelected(productSelected)">
              <p> Rented until </p>
              <input nbInput placeholder="Pick rent end date" [nbDatepicker]="pickerEndDate"
                     [(ngModel)]="this.productsSelected[findIndexOfProductSelected(productSelected.product.id)].rentedUntil" shape="round">
              <nb-datepicker #pickerEndDate [min]="productSelected.rentedUntil"></nb-datepicker>
            </div>
          </div>
        </div>
        <div class="dialog-action-edit-product" *ngIf="data.action === ActionsConstants.EDIT && !isButtonForPerformingActionDisabled()">
          <add-products-details [productDetails]="productsSelected[0].product"
          [addingDetailsToCurrentProduct]="true"
          (onSubmit)="performAction($event)">
          </add-products-details>
        </div>
        <div class="dialog-action-edit-product" *ngIf="data.action === ActionsConstants.EDIT && isButtonForPerformingActionDisabled()">
          <p> {{ getButtonForPerformingTooltip() }}</p>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="dialog-buttons-footer">
        <button *ngIf="actionSelected.action !== ActionsConstants.EDIT" nbButton hero [nbTooltip]="getButtonForPerformingTooltip()"
                [nbTooltipDisabled]="!isButtonForPerformingActionDisabled()" [status]="data.status"
                [disabled]="isButtonForPerformingActionDisabled()" (click)="performAction()">
          {{ data.actionButtonText }}
        </button>
        <button nbButton hero status="basic" (click)="cancelAction()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
