<nb-card [nbSpinner]="isFetching$ | async" nbSpinnerSize="large" nbSpinnerStatus="primary">
  <nb-card-header>
    <h1> Here are some products for you</h1>
    <button class="adding-product-button" [status]="'primary'" [nbTooltip]="this.userService.isLoggedIn() ? 'Add product' : 'Please, login to add product'"
            [disabled]="!this.userService.isLoggedIn()"
            nbButton (click)="navigateToAddingProductPage()">
      <nb-icon [icon]="ICONS.PLUS_OUTLINE"/>
      <span *ngIf="getWindowSize().width > 768">Add product</span>
    </button>
  </nb-card-header>
  <nb-card-body *ngIf="products$ | async as products">
    <div class="product-grid">
      <product *ngFor="let product of products" [product]="product"></product>
    </div>
  </nb-card-body>
  <nb-card-footer class="footer-page">
    <button [disabled]="endOfList$ | async" nbButton status="primary"
            [nbTooltip]="(endOfList$ | async) ? 'No more products to load' : 'Load more products'"
            (click)="loadNextProducts()">
      <nb-icon [icon]="ICONS.ARROW_IOS_DOWNWARD_OUTLINE" pack="eva"></nb-icon>
    </button>
  </nb-card-footer>
</nb-card>
