nb-card {
  height: 85vh;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.last-in-row {
  margin-right: 0;
}

@media only screen and (max-width: 472px) {
  h1 {
    font-size: 18px;
  }

  nb-card-body {
    padding: 0;
  }

  .product-grid {
    padding: 0;
  }
}

@media only screen and (min-width: 473px) {
  .product-grid {
    padding: 0 30px;
  }
}
