<nb-card *ngIf="isFetchingProduct$ | async; else isNotFetching">
  <nb-spinner size="large" status="primary"></nb-spinner>
</nb-card>
<ng-template #isNotFetching>
  <nb-card class="product-overview-container" *ngIf="(product$ | async) as productOverview; else productNotFound">
    <nb-card-header class="product-overview-header" style="position: relative"
                    *ngIf="productOverview.product as product">
      <div class="product-overview-product-name">
        <h2>{{ product.name }}</h2>
      </div>
      <h3 class="product-overview-rented-until-date" *ngIf="product.rentedUntil">
        Rented until:
        <span>{{ product.rentedUntil }}</span>
      </h3>
      <nb-badge class="product-overview-status-badge" [text]="getProductInfoStatusBadge(product.status)"
                [status]="getProductStatusColorBadge(product.status)" position="top right"></nb-badge>
      <nb-badge class="report-badge" text="Report"
                [nbTooltip]="getReportBadgeTooltip(TYPE_REPORT.PRODUCT)"
                [nbTooltipIcon]="ICONS.ALERT_CIRCLE_OUTLINE" nbTooltipStatus="danger"
                status="danger" position="top left"
                (click)="openReportDialog(TYPE_REPORT.PRODUCT)"></nb-badge>
    </nb-card-header>
    <nb-card-body class="product-overview-body">
      <div class="left-section">
        <div class="product-overview-image-slider-container">
          <view-images-swiper [images]="productOverview.product.images"></view-images-swiper>
        </div>
        <nb-card class="product-description">
          <nb-card-header>
            <h4>Description</h4>
          </nb-card-header>
          <nb-card-body>
            <p><span> Category: </span> {{ productOverview.product.category }}</p>
            <p>{{ productOverview.product.description }}</p>
          </nb-card-body>
        </nb-card>
        <nb-card class="product-reviews" [nbSpinner]="isFetchingReviewsOverview$ | async"
                 nbSpinnerSize="large" nbSpinnerStatus="primary">
          <nb-card-header class="product-reviews-header">
            <h4>Reviews</h4>
            <button [disabled]="!this.userService.isLoggedIn()" id="addReviewButton" nbButton status="warning" hero
                    nbTooltip="You need to be logged in to add a review"
                    [nbTooltipDisabled]="this.userService.isLoggedIn()"
                    (click)="openAddReviewDialog()"
            >
              Add review
            </button>
          </nb-card-header>
          <nb-list *ngIf="(reviews$ | async) as reviews" class="review-container">
            <nb-list-item *ngFor="let review of reviews">
              <!--                TODO not implemented yet -->
              <!--                <div class="reviewer-information">-->
              <!--                  <nb-user picture='https://images.nightcafe.studio//assets/profile.png?tr=w-1600,c-at_max' size="medium"-->
              <!--                           onlyPicture>-->
              <!--                  </nb-user>-->
              <!--                  <p> {{review.reviewer.firstName}} {{review.reviewer.lastName}}</p>-->
              <!--                </div>-->
              <div class="review-rating-information">
                <stars-rating [rating]="review.rating" [showTooltip]="false" [enableClickEvent]="false"></stars-rating>
              </div>
              <div class="review-description">
                <p><span> Description:</span> {{ review.message }}</p>
              </div>
            </nb-list-item>
          </nb-list>
          <nb-card-footer>
            <button [disabled]="endOfListReviews$ | async" nbButton status="primary"
                    [nbTooltip]="(endOfListReviews$ | async) ? 'No more reviews to load' : 'Load more reviews'"
                    (click)="loadNextReviews()">
              <nb-icon [icon]="ICONS.ARROW_IOS_DOWNWARD_OUTLINE" pack="eva"></nb-icon>
            </button>
          </nb-card-footer>
        </nb-card>
      </div>
      <div class="right-section">
        <nb-card class="product-rating"
                 [nbSpinner]="isFetchingReviewsOverview$ | async"
                 nbSpinnerSize="large" nbSpinnerStatus="primary">
          <nb-card-header>
            <h4>Product rating</h4>
          </nb-card-header>
          <nb-card-body>
            <div *ngIf="(reviewSummary$ | async) as reviewSummary">
              <stars-rating [rating]="reviewSummary.avgRating" [reviewCount]="reviewSummary.reviewCount"
                            (clickOnStarEvent)="clickOnStarEvent()"></stars-rating>
            </div>
            <div *ngIf="!(reviewSummary$ | async)">
              <p>No reviews yet</p>
            </div>
          </nb-card-body>

        </nb-card>
        <nb-card class="user-and-lease-information">
          <nb-card-header>
            <div class="prices-lease" *ngIf="productOverview.product as product">
              <p *ngIf="product.dayPrice"><span>Price per day: </span> {{ productOverview.product.dayPrice }}€</p>
              <p *ngIf="product.weekPrice"><span>Price per week: </span> {{ productOverview.product.weekPrice }}€</p>
              <p *ngIf="product.monthPrice"><span>Price per month: </span> {{ productOverview.product.monthPrice }}€</p>
            </div>
            <div class="prices-product" *ngIf="productOverview.product as product">
              <p *ngIf="product.productValue"><span>Product value: </span> {{ productOverview.product.productValue }}€
              </p>
              <p *ngIf="product.deposit"><span>Price per deposit: </span> {{ productOverview.product.deposit }}€</p>
              <p *ngIf="product.minLeasePeriod">
                <span>Minimum lease period: </span> {{ humanizeDurationMinLeasePeriod(productOverview.product.minLeasePeriod) }}
              </p>
            </div>
          </nb-card-header>
          <nb-card-body>
            <nb-badge class="report-badge" text="Report"
                      [nbTooltip]="getReportBadgeTooltip(TYPE_REPORT.USER)"
                      [nbTooltipIcon]="ICONS.ALERT_CIRCLE_OUTLINE" nbTooltipStatus="danger"
                      status="danger" position="top left"
                      (click)="openReportDialog(TYPE_REPORT.USER)"></nb-badge>
            <nb-user picture='https://images.nightcafe.studio//assets/profile.png?tr=w-1600,c-at_max' size="giant"
                     onlyPicture>
            </nb-user>
            <div class="user-information">
              <p><span>Name</span> {{ productOverview.user.firstName }} {{ productOverview.user.lastName }}</p>
              <p><span>Email:</span> {{ productOverview.user.email }}</p>
              <p><span>City:</span> {{ productOverview.user.location }}</p>
              <p><span>Phone number: </span> {{ productOverview.user.phoneNumber }}</p>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card class="map-location-product">
          <nb-card-body>
            <map-picker [location]="productOverview.product.city" [showLocationPicker]="false"
                        [enableCurrentLocation]="false"></map-picker>
          </nb-card-body>
        </nb-card>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #productNotFound>
  <nb-card>
    <nb-card-header>
      <div class="product-overview-product-name">
        <h2>Product not found</h2>
      </div>
    </nb-card-header>
  </nb-card>
</ng-template>

<ng-template #addRatingDialog>
  <nb-card class="add-rating-dialog-container">
    <nb-card-header class="add-rating-dialog-header">
      Add rating
    </nb-card-header>
    <nb-card-body class="add-rating-dialog-body">
      <div>
        <p> How would you like to rate this product? </p>
      </div>
      <div>
        <stars-rating [showTooltip]="false" [rating]="reviewToAdd.rating"
                      (clickOnStarEvent)="onAddingReviewClickOnStar($event)"></stars-rating>
      </div>
      <div *ngIf="reviewToAdd.rating > 0">
        <p> You have chosen rating <span>{{ reviewToAdd.rating }} </span></p>
      </div>
      <div>
        <nb-form-field class="description">
                <textarea [(ngModel)]="reviewToAdd.message" name="message" type="text" fullWidth nbInput
                          shape="round" placeholder="Message"></textarea>
        </nb-form-field>
      </div>
    </nb-card-body>
    <nb-card-footer class="add-rating-dialog-footer">
      <button [disabled]="isOnSubmitButtonDisabled(SUBMIT_BUTTON_TYPE.ADD_REVIEW)" nbButton status="warning" hero (click)="onSubmitButtonClicked(SUBMIT_BUTTON_TYPE.ADD_REVIEW)">
        Submit
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<ng-template #reportDialog let-data>
  <nb-card class="report-dialog-container">
    <nb-card-header>
      <p>Why do you want to report this <span class="bold"> {{data.typeReport}} </span>?</p>
    </nb-card-header>
    <nb-card-body>
      <nb-form-field *ngIf="data.typeReport === TYPE_REPORT.USER" class="description">
                <textarea [(ngModel)]="reportToAdd.userReport.message" name="message" type="text" fullWidth nbInput
                          shape="round" placeholder="Reporting user message"></textarea>
      </nb-form-field>
      <nb-form-field *ngIf="data.typeReport === TYPE_REPORT.PRODUCT" class="description">
                <textarea [(ngModel)]="reportToAdd.productReport.message" name="message" type="text" fullWidth nbInput
                          shape="round" placeholder="Reporting product message"></textarea>
      </nb-form-field>
    </nb-card-body>
    <nb-card-footer>
      <button [disabled]="isOnSubmitButtonDisabled(SUBMIT_BUTTON_TYPE.REPORT, data.typeReport)" nbButton status="danger" hero (click)="onSubmitButtonClicked(SUBMIT_BUTTON_TYPE.REPORT)">
        Submit
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
