nb-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  > * {
    flex: 1;
  }
}

nb-card.canBeSelected {
  cursor: pointer;
}

nb-card.selected::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(235, 238, 245, 0.7);
  pointer-events: none;
  z-index: 999;
}

nb-icon.selected-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: calc(0.2 * 100vw);
  max-font-size: 40px;
  min-font-size: 24px;
}

nb-card-header {
  position: relative;
}

.header-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  .seller-info,
  .product-prices {
    position: absolute;
    bottom: 10px;
    img, p {
      margin: 0;
    }
  }
  .seller-info {
    left: 10px;
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 20px 20px 20px 0;
    }
  }
  .product-prices {
    right: 10px;
    background: #02e2fb;
    padding: 0.5rem 1rem;
    border-radius: 20px 0px 20px 20px;
    box-shadow: -6px 0 7px 1px;
    p {
      color: #ffffff;
      margin-bottom: 5px;
    }
  }
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
  .first-row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    & > div {
      display: flex;
      align-items: center;
      span, strong {
        margin-right: 0.5rem;
      }
      nb-icon {
        margin-right: 0.5rem;
        font-size: 1.2em;
        color: #333;
      }
    }
    .product-min-lease {
      font-style: italic;
      span {
        color: #888;
      }
      strong {
        font-size: 1.2em;
        color: #333;
      }
    }
  }
  .second-row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    h2.product-name {
      text-align: center;
      font-size: 1.5em;
      margin: 0;
      color: #333;
    }
  }
}
