.authentication-container {
  margin-left: auto;
  margin-right: auto;
  width: 38%;

  nb-card {
    border-radius: 20px;
  }

  a {
    cursor: pointer;
  }

  .form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    nb-form-field {
      width: 100%;
      max-width: 300px;
      margin-bottom: 23px;

      .invalid-field {
        border-color: var(--color-danger-500);
      }
    }

    .submit-button {
      width: 100%;
      max-width: 300px;
      margin-bottom: 23px;
    }
  }

  @media screen and (max-width: 768px) {
    width: 80%;
  }
}
