.image-swiper {
  position: relative;
  max-width: 800px;
  height: 474px;
  margin: 0 auto;
}

.show-image-container {
  .show-image-body {
    .image-showed {
      max-width: 800px;
      max-height: 800px;
      object-fit: contain;
    }
  }
}

.image-swiper:hover {
  cursor: pointer;
}
