<nb-layout>
  <nb-layout-header subheader>
    <a href="#" (click)="toggleSidebar()">
      <nb-icon *ngIf="sidebarVisible"
               [icon]="getIconsEnum().FORWARD_ARROW_IOS">
      </nb-icon>
      <nb-icon *ngIf="!sidebarVisible"
               [icon]="getIconsEnum().FORWARD_ARROW_IOS">
      </nb-icon>
      <i class="nb-menu"></i>
    </a>
  </nb-layout-header>

  <nb-sidebar [responsive]="true">
    <div>
      <a href="">
        <img *ngIf="sidebarVisible" src="assets/logo.svg" alt="Image" width="100%" height="auto"/>
        <img *ngIf="!sidebarVisible" src="assets/favicon.svg" alt="Image" width="48px" height="auto"/>
      </a>
      <nb-menu tag="menu" [items]="menuItems"></nb-menu>
    </div>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
