body {
  overflow: hidden;
  margin: 0;
  max-height: 85vh;
}

.nb-layout-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: inherit;

  @media only screen and (max-width: 768px) {
    height: 60px;
  }

  @media only screen and (max-width: 472px) {
    height: 50px;
  }

}

nb-icon {
  width: 5%;
  cursor:pointer;
}

.left-section,
.center-section,
.right-section {
  flex: 1;
  display: flex;
  gap: 10px;

  @media only screen and (min-width: 769px) {
    gap: 20px;
  }
}

.center-section {
  justify-content: center;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .logo-image {
    max-width: 80px;
    height: auto;
    cursor:pointer;
  }

  @media only screen and (min-width: 473px) {
    justify-content: flex-end;
  }
}

.colored-column-basic {
  padding-top: 75px;
  margin-top: 0;
  height: calc(100vh - 75px);

  @media only screen and (max-width: 768px) {
    padding-top: 60px;
    height: calc(100vh - 60px);
  }

  @media only screen and (max-width: 472px) {
    padding-top: 50px;
    height: calc(100vh - 50px);
  }
}

nb-sidebar {
  top: 50px;
  height: 92vh;

  @media only screen and (min-width: 473px) and (max-width: 768px) {
    top: 60px;
  }

  @media only screen and (min-width: 769px) {
    top: 75px;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
}
.menu-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.general-menu-items {
  order: 1;
}

.user-menu-items {
  margin-top: auto;
  order: 2;
}
