nb-layout {
  nb-layout-header.subheader {
    height: 75px;
  }

  nb-layout-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .left-section {
      flex: 1;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .center-section {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    .right-section {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }

  .colored-column-basic {
    margin-top: 72px;
  }

  nb-sidebar {
    top: 0;
  }
}

@media only screen and (max-width: 472px) {
  nb-layout {
    nb-layout-header.subheader {
      height: 50px;
    }

    .right-section {
      position: relative;
      top: 7px;
    }

    .colored-column-basic {
      margin-top: 50px;
    }

    nb-sidebar {
      top: 50px;
    }
  }
}
