<nb-card [class.selected]="isProductSelected" [id]="product.id" [size]="getCardBySize()" (click)="onClickProduct()">
  <nb-card-header>
    <div class="header-image">
      <nb-icon *ngIf="isProductSelected" [icon]="ICONS.CHECKMARK_OUTLINE" class="selected-icon"></nb-icon>
      <img class="product-image" *ngIf="product.images.length > 0" [src]="product.images[0].imageUrl"
           alt="Product's image">
      <img class="product-image" *ngIf="product.images.length === 0"
           src="https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
           alt="No available product image"/>

      <div class="seller-info">
        <img src="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG" alt="Seller profile picture">
      </div>

      <div class="product-prices" *ngIf="product.dayPrice">
        <p>{{product.dayPrice}}€ / day </p>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="product-details">
      <div class="first-row">
        <div class="product-min-lease">
          <span>Minimum Lease</span>
          <strong>{{product.minLeasePeriod}} days</strong>
        </div>
        <div class="product-location">
          <nb-icon [icon]="ICONS.MAP_OUTLINE"></nb-icon>
          <span>{{product.city}}</span>
        </div>
      </div>
      <div class="second-row">
        <h2 class="product-name">{{product.name}}</h2>
      </div>
    </div>
  </nb-card-body>
</nb-card>
