<nb-card
  class="container-adding-products" size="medium"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  [nbSpinner]="isFetching$ | async">
  <nb-card-body>
    <div class="d-flex-center">
      <nb-stepper orientation="horizontal">
        <nb-step class="adding-pictures-step" [label]="STEPS.PICTURES">
          <h4>{{ TITLES.ADD_PICTURES }}</h4>
          <div class="full-width-content">
            <ngx-dropzone (change)="onImageSelected($event)" [multiple]="true" accept=".png, .jpeg, .jpg">
              <div class="dropzone text-center">
                <nb-icon [icon]="ICONS.IMAGE_OUTLINE"></nb-icon>
                <p class="pictures-first-row-text">Add pictures by clicking</p>
                <p class="pictures-second-row-text">or drag and drop</p>
              </div>
            </ngx-dropzone>

            <div *ngIf="(selectedImages.length > 0) && (uploadedImages$ | async)?.length < 1">
              <h3>Selected Images:</h3>
              <ul>
                <li *ngFor="let image of selectedImages">
                  {{ image.name }}
                </li>
              </ul>
            </div>

            <view-images
              *ngIf="(uploadedImages$ | async).length > 0"
              [imgurImages]="uploadedImages$ | async"
              >
            </view-images>
            <button status="primary" (click)="uploadImages()" *ngIf="selectedImages.length > 0" nbButton>Save</button>
          </div>
          <div class="buttons-stepper">
            <button nbButton disabled nbStepperPrevious>prev</button>
            <button [disabled]="(uploadedImages$ | async)?.length < 1" nbButton nbStepperNext>next</button>
          </div>
        </nb-step>
        <nb-step class="details-step" [label]="STEPS.DETAILS">
          <h4>{{ TITLES.ADD_DETAILS }}</h4>
          <div class="product-information-forms">
              <div class="left-forms">
                <nb-form-field>
                  <!--                TODO name should not be null-->
                  <input [(ngModel)]="productDetails.name" name="name" type="text" fullWidth size="100px" nbInput shape="round" placeholder="Name">
                </nb-form-field>
                <nb-form-field>
                  <!--              TODO dayPrice should not be null-->
                  <input [(ngModel)]="productDetails.dayPrice" name="dayPrice" type="number" fullWidth size="100px" nbInput shape="round" placeholder="Price (per day)">
                </nb-form-field>
                <nb-form-field>
                  <!--              TODO should that this is optional-->
                  <input [(ngModel)]="productDetails.weekPrice" name="weekPrice" type="number" fullWidth size="100px" nbInput shape="round" placeholder="Price (per week)">
                </nb-form-field>
                <nb-form-field>
                  <!--              TODO should that this is optional-->
                  <input [(ngModel)]="productDetails.monthPrice" name="monthPrice" type="number" fullWidth size="100px" nbInput shape="round" placeholder="Price (per month)">
                </nb-form-field>
                <nb-form-field>
                  <input [(ngModel)]="productDetails.deposit" name="deposit" type="number" fullWidth size="100px" nbInput shape="round" placeholder="Deposit">
                </nb-form-field>
                <nb-form-field>
                  <input [(ngModel)]="productDetails.productValue" name="productValue" type="number" fullWidth size="100px" nbInput shape="round" placeholder="Product value">
                </nb-form-field>
                <div class="min-lease-period">
                  <nb-form-field>
                    <input [(ngModel)]="productDetails.minLeasePeriod" name="minLeasePeriod" type="number" fullWidth size="100px" nbInput shape="round" placeholder="Min lease period">
                  </nb-form-field>
                  <nb-select placeholder="Select Showcase" [(selected)]="minLeasePeriodSelectedPeriod" shape="round">
                    <nb-option [value]="PERIOD.DEFAULT">Select period</nb-option>
                    <nb-option [value]="PERIOD.DAY"> {{ PERIOD.DAY }}</nb-option>
                    <nb-option [value]="PERIOD.WEEK"> {{ PERIOD.WEEK }}</nb-option>
                    <nb-option [value]="PERIOD.MONTH"> {{ PERIOD.MONTH }}</nb-option>
                  </nb-select>
                </div>
              </div>
            <div class="right-form">
              <nb-form-field class="description">
                <textarea [(ngModel)]="productDetails.description" name="description" type="text" fullWidth nbInput shape="round" placeholder="Description"></textarea>
              </nb-form-field>
              <nb-form-field>
                <input [(ngModel)]="productDetails.category" name="category" type="text" fullWidth size="100px" nbInput shape="round" placeholder="Category">
              </nb-form-field>
<!--              TODO here we would need to have the tags (see nebular)-->
            </div>
          </div>
          <div class="button-submit" *ngIf="isSubmitButtonDisabled">
            <p style="color:red"> You need to insert all fields. The week and month price are optional.</p>
          </div>
          <div class="button-submit">
            <button type="submit" [status]="'primary'"  [disabled]="isSubmitButtonDisabled()" (click)="onSubmit()" nbButton hero>Submit
            </button>
          </div>
          <div class="buttons-stepper">
            <button nbButton nbStepperPrevious>prev</button>
            <button disabled nbButton nbStepperNext>next</button>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </nb-card-body>
</nb-card>
