<nb-card
  class="container-adding-products" size="medium"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  [nbSpinner]="isFetching$ | async">
  <nb-card-body>
    <div class="d-flex-center">
      <nb-stepper orientation="horizontal">
        <nb-step class="adding-pictures-step" [label]="STEPS.PICTURES">
          <h4>{{ TITLES.ADD_PICTURES }}</h4>
          <div class="full-width-content">
            <ngx-dropzone (change)="onImageSelected($event)" [multiple]="true" accept=".png, .jpeg, .jpg">
              <div class="dropzone text-center">
                <nb-icon [icon]="ICONS.IMAGE_OUTLINE"></nb-icon>
                <p class="pictures-first-row-text">Add pictures by clicking</p>
                <p class="pictures-second-row-text">or drag and drop</p>
              </div>
            </ngx-dropzone>

            <div *ngIf="(selectedImages.length > 0) && (uploadedImages$ | async)?.length < 1">
              <h3>Selected Images:</h3>
              <ul>
                <li *ngFor="let image of selectedImages">
                  {{ image.name }}
                </li>
              </ul>
            </div>

            <view-images
              *ngIf="(uploadedImages$ | async).length > 0"
              [imgurImages]="uploadedImages$ | async"
              >
            </view-images>
            <button status="primary" (click)="uploadImages()" *ngIf="selectedImages.length > 0" nbButton>Save</button>
          </div>
          <div class="buttons-stepper">
            <button nbButton nbStepperPrevious>prev</button>
            <button [disabled]="(uploadedImages$ | async)?.length < 1" nbButton nbStepperNext>next</button>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </nb-card-body>
</nb-card>
